<?xml version="1.0" encoding="UTF-8"?>
<web-app
        version="3.0"
        xmlns="http://java.sun.com/xml/ns/javaee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" metadata-complete="true">
    <servlet>
        <servlet-name>formServlet</servlet-name>
        <servlet-class>dynamicform.FormServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>formServlet</servlet-name>
        <url-pattern>form</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>sofujoServlet</servlet-name>
        <servlet-class>dynamicform.SofujoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>sofujoServlet</servlet-name>
        <url-pattern>sofujo</url-pattern>
    </servlet-mapping>
</web-app>